* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2;
    text-align: left;
}

header {
    height: 35px;
    margin-bottom: 20px;
}

header p{
    float: left;
    font-family: 'Livvic', sans-serif;
    font-size: 30px;
}

header ul {
    list-style: none;
    float: right;
    margin-top: 8px;
}

header ul li{
    display: inline;
    margin: 0px 5px;
}

ul a{
    padding: 20px;
}

ul a:hover{
    background-color: #2f2f2f;
    color: #f2f2f2
}


hr {
    clear: both;
}

a {
    text-decoration: none;
    color: #2f2f2f;
}

footer {
    background-color: #f2f2f2;
    height: 100px;
    text-align: center;
}


/* ---------- Classes ----------*/

.container {
    padding: 20px 80px;
}


/* --------- IDs ---------- */

#cinza {
    background-color: #2f2f2f;
    height: 400px;
}

#mid {
    padding: 100px 0px;
    font-size: 50px;
    font-family: 'Cinzel', serif;
}